# IDE
.idea

# Composer
/build/
/vendor/
# /composer.lock

# Envs
.env
.env.backup
.env.production

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Dev Box
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit
phpunit.xml
phpunit.cache
.phpunit.result.cache

# PHPStan
phpstan.neon

# PHPCSfixer
.php-cs-fixer.php
.php-cs-fixer.cache

/public/build
/storage/pail
.phpactor.json
auth.json
